@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blue-green-gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-cyan-400 to-green-300;
  }
}
