server:
  port : 8080
  servlet:
    context-path: /
spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    driverClassName: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/msGraph
    username: root
    password: Monetion4
  sql:
    init:
      platform: mariadb